html.dark {
  background: #212121;
  color: #f1f5f9;
}

.dark .nav-links a {
  color: #f1f5f9;
}

html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #c4b5fd;
}

a {
  color: inherit;
}
