---
import "../../styles/global.css"
import BaseLayout from "../../layouts/BaseLayout.astro"
const pageTitle = "Tags Page"
const allPosts = await Astro.glob("../posts/*.md")
const tags = [...new Set(allPosts.map(post => post.frontmatter.tags).flat())]
---

<style>
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  li {
    background: #164e63;
    color: #f5f5f5;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    margin: 0.25rem 0;
  }
  .tag {
    color: inherit;
    text-decoration: none;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      tags.map(tag => (
        <li>
          <a class="tag" href={`/tags/${tag}`}>
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
