---
import "../styles/global.css"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
const pageTitle = "Hi, I'm Marcus Hugo!"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      h2 {
        color: #155e75;
      }
    </style>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <main>
      <h1>{pageTitle}</h1>
      <h2>Frontend Web Developer.</h2>
      <p>Thanks for visiting my homepage! Portfolio and blog websites are fun to build! I hope you enjoy wandering around my website!</p>
    </main>
    <Footer />
  </body>
</html>
