---
const platform = "github"
const username = "marcus-hugo"
---

<footer>
  <ul>
    <li>
      <a href="https://twitter.com/MarcusPHugo" target="_blank" rel="noopener noreferrer">Twitter</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/marcus-hugo-27823b32" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/marcus-hugo" target="_blank" rel="noopener noreferrer">Github</a>
    </li>
    <li>
      <a href="mailto:phantomboss300@yahoo.com">Email</a>
    </li>
  </ul>
</footer>
