---
import Social from "./Social.astro"
---

<style>
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
</style>

<footer>
  <ul>
    <li>
      <Social platform="Twitter" username="MarcusPHugo" />
    </li>
    <li>
      <Social platform="LinkedIn" username="marcus-hugo-27823b32" />
    </li>
    <li>
      <Social platform="GitHub" username="marcus-hugo" />
    </li>
    <li>
      <a href="mailto:phantomboss300@yahoo.com">Email</a>
    </li>
  </ul>
</footer>
