---
---

<style>
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
</style>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About Me</a></li>
    <li><a href="/blog/">My Blog</a></li>
  </ul>
</nav>
